contactsLib/obj/*
menu/obj/*
menu_database/obj/*
webapi/obj/*
webapi_database/obj/*
unit_test/obj/*
contactsLib/bin/*
menu/bin/*
menu_database/bin/*
webapi/bin/*
webapi_database/bin/*
unit_test/bin/*
contactsLib_Database/obj/
contactsLib_Database/bin/
