contactsLib/obj/Debug/
menu/obj/Debug/
menu2/obj/Debug/
webapi/obj/Debug/
webapi2/obj/Debug/
unit_test/obj/Debug/
contactsLib/bin/Debug/
menu/bin/Debug/
menu2/bin/Debug/
webapi/bin/Debug/
webapi2/bin/Debug/
unit_test/bin/Debug/